<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel="stylesheet"  href="/stylesheets/index.css">
    <title>index</title>

<body>
    <!-- Início collapse -->
    <nav class="visivel">
        <p>
            <a class="btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample" style="color: slategray;">
                Opções
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body" style="background-color: rgb(228, 214, 214);">

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="/images/marcio.jpg" alt="márcio" width="75px" height="75px"/>
                            <p>Márcio cardoso</p>
                            <p>Grupo: 12SPS4</p>
                            <abbr title="STEPKOIN. A soma de cristais e moedas">
                                <p>249<img
                                        src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                        alt="star" /></p>
                            </abbr>
                            <abbr title="Avaliable crystals on your account">
                                <p>126 <img
                                        src="https://mystat.itstep.org/assets/images/christal.png?v=168f87e3e1d37c240e74d77718154602"
                                        alt="cristal" /></p>
                            </abbr>
                            <abbr title="Avaliable coins on your account">
                                <p>123<img
                                        src="https://mystat.itstep.org/assets/images/coin.png?v=f68d8665e86de1fb01d5b21850295e47"
                                        alt="coin" /></p>
                            </abbr>
                            <abbr title="NÚMERO DE MEDALHAS
Quantidade de medalhas que vc ganhou">
                                <p>6 <img
                                        src="https://mystat.itstep.org/assets/images/badge.png?v=408c768385ccc691a521bbd4b7ddebde"
                                        alt="badge" /></p>
                            </abbr>

                            <div class="btn-group dropleft">
                                <button type="button" class="btn btn-white btn-sm dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    PT
                                </button>
                                <div class="dropdown-menu">
                                    <pre> RU EN BG PT UA RO GE </pre>
                                    <pre> AZ CS SK ES PL KZ FR </pre>
                                    <pre> UZ VI DE</pre>
                                </div>
                            </div>
                            <img src="https://mystat.itstep.org/assets/images/hover-logout.png?v=c81de277b6eacad6e7bd46e6b4930a70"
                                alt="logout" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <!-- Final do callpase -->

    <nav style="background-color: rgb(206, 203, 203)">
        <div class="container">
            <div class="row d-flex align-items-md-center">
                <div class="col-md-1">
                    <img src="/images/marcio.jpg" alt="márcio" width="75px" height="75px"/>
                </div>
                <div class="col-md-3">
                    <p>Márcio cardoso</p>
                </div>
                <div class="col-md-3">
                    <p>Grupo: 12SPS4</p>
                </div>
                <div class="col-md-0 ">
                    <div class="row">
                        <div class="col">
                            <abbr title="STEPKOIN. A soma de cristais e moedas">
                                <p>249<img
                                        src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                        alt="star" /></p>
                            </abbr>
                        </div>
                    </div>
                    <abbr title="Avaliable crystals on your account">
                        <p>126 <img
                                src="https://mystat.itstep.org/assets/images/christal.png?v=168f87e3e1d37c240e74d77718154602"
                                alt="cristal" /></p>
                    </abbr>
                </div>
                <div class="col-md-0 mx-2  baixo">
                    <abbr title="Avaliable coins on your account">
                        <p>123<img
                                src="https://mystat.itstep.org/assets/images/coin.png?v=f68d8665e86de1fb01d5b21850295e47"
                                alt="coin" /></p>
                    </abbr>
                </div>
                <div class="col-md-2 baixo">
                    <abbr title="NÚMERO DE MEDALHAS
Quantidade de medalhas que vc ganhou">
                        <p>6 <img
                                src="https://mystat.itstep.org/assets/images/badge.png?v=408c768385ccc691a521bbd4b7ddebde"
                                alt="badge" /></p>
                    </abbr>
                </div>
                <div class="col">
                    <!-- Botão dropleft padrão -->
                    <div class="btn-group dropleft">
                        <button type="button" class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            PT
                        </button>
                        <div class="dropdown-menu">
                            <pre> RU EN BG PT UA RO GE </pre>
                            <pre> AZ CS SK ES PL KZ FR </pre>
                            <pre> UZ VI DE</pre>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="https://mystat.itstep.org/assets/images/hover-logout.png?v=c81de277b6eacad6e7bd46e6b4930a70"
                        alt="logout" />
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4 quadrado">
                    <h4>Rating</h4>
                    <hr>
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex justify-content-around numero">
                                <p class="dez">10</p>
                                <p class="treze">13</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="d-flex">
                                <p class="grupo">Colocação no grupo</p>
                                <p class="grupo">Colocação no Fluxo de treinamento</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <h5 style="text-decoration: underline;">Consiga mais recompensas e suba no ranking </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  quadrado1 ">
                    <div class="d-flex justify-content-between">
                        <h4>Tabela <br>de <br>Líderes</h4>
                        <p class="mx-4">Grupo</p>
                        <p>Fluxo de <br>Treinamento</p>

                        <hr>
                    </div>
                    <div class="d-flex ">
                        <span class="mx-2">
                            <p>1. Márcio 967 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>2. Márcio 928 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>3. Márcio 884 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>4. Márcio 875 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>5. Márcio 790 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>6. Márcio 746 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>7. Márcio 603 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>8. Márcio 562 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>9. Márcio 526 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>10. Márcio 249 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                        </span>
                        <span>
                            <p>1. Márcio 967 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>2. Márcio 928 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>3. Márcio 884 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>4. Márcio 875 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>5. Márcio 790 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>6. Márcio 746 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>7. Márcio 603 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>8. Márcio 562 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>9. Márcio 526 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>10. Márcio 249 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>11. Márcio 249 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>12. Márcio 249 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                            <p>13. Márcio 249 <img
                                    src="https://mystat.itstep.org/assets/images/star.png?v=204f659eb133b4f414e656a3ac055f66"
                                    alt="" /></p>
                        </span>
                    </div>
                </div>
                <div class="col quadrado1 rolar">
                    <h4>Suas Recompensas</h4>
                    <hr>
                    <span><strong>18.07.2021</strong></span>
                    <p>Falha no cumprimento dos prazos dos trabalhos de casa </p>
                    <span><strong>17.07.2021</strong></span>
                    <p>Comparecimento na aula</p>
                    <span><strong>17.07.2021</strong></span>
                    <p>Nota</p>
                    <span><strong>16.07.2021</strong></span>
                    <p>Nota</p>
                    <span><strong>16.07.2021</strong></span>
                    <p>Nota</p>
                    <span><strong>16.07.2021</strong></span>
                    <p>Você fez o dever de casa a tempo</p>
                    <span><strong>18.07.2021</strong></span>
                    <p>Falha no cumprimento dos prazos dos trabalhos de casa </p>
                    <span><strong>17.07.2021</strong></span>
                    <p>Comparecimento na aula</p>
                    <span><strong>17.07.2021</strong></span>
                    <p>Nota</p>
                    <span><strong>16.07.2021</strong></span>
                    <p>Nota</p>
                    <span><strong>16.07.2021</strong></span>
                    <p>Nota</p>
                    <span><strong>16.07.2021</strong></span>
                    <p>Você fez o dever de casa a tempo</p>
                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col-md-5 performance">
                    <div class="d-flex justify-content-between">
                        <h4>Performance acadêmica</h4>
                        <p style="text-decoration: underline;">Saiba mais</p>
                    </div>
                    <p>Média</p>
                    <p>12_______________________________________</p>
                    <p>10_______________________________________</p>
                    <p>8________________________________________</p>
                    <p>6________________________________________</p>
                    <p>4________________________________________</p>
                    <p>2________________________________________</p>
                    <p>0________________________________________</p>
                    <pre> jan    fev    mar    abr    mai    jun    ago</pre>
                </div>
                <div class="col-md-5 performance">
                    <div class="d-flex justify-content-between">
                        <h4>Presença</h4>
                        <p style="text-decoration: underline;">Saiba mais</p>
                    </div>
                    <p>Média</p>
                    <p>12________________________________________</p>
                    <p>10________________________________________</p>
                    <p>8_________________________________________</p>
                    <p>6_________________________________________</p>
                    <p>4_________________________________________</p>
                    <p>2_________________________________________</p>
                    <p>0_________________________________________</p>
                    <pre> jan    fev    mar    abr    mai    jun    ago</pre>
                </div>
            </div>
            <div class="row d-flex justify-content-between my-3">
                <div class="col-md-4 quadrado2">
                    <div class="d-flex justify-content-between">
                        <h4>Dever de casa</h4>
                        <span>Saiba mais</span>
                    </div>
                    <hr>
                    <h4 class="text-center " style="color: #6376bf;">5</h4>
                    <p class="text-center">Todas as tarefas</p>

                    <div class="row text-center">
                        <div class="col-md">
                            <span style="color: #aa91fc;">0</span>
                            <p>Abertas</p>
                        </div>
                        <div class="col">
                            <span style="color: #25aaa1;">3</span>
                            <p>Feitas</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <span style="color: #ffc730;">1</span>
                            <p>Em correção</p>
                        </div>
                        <div class="col">
                            <span style="color: #fa5873;">1</span>
                            <p>Expirado</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 quadrado2">
                    <div class="d-flex justify-content-between">
                    </div>
                    <h4 class="text-center ">Informações de pagamento</h4>
                    <hr>
                    <img src="https://mystat.itstep.org/assets/resources/pay.svg?v=2837012e17d274caff57913eebea1fa2" alt="pay"/>
                </div>
                <div class="col-md-4 quadrado2">
                    <div class="d-flex justify-content-between">
                        <h4>Exames atribuídos</h4>
                    </div>
                    <hr>
                    <p class="text-center">Nenhum exame atribuído</p>
                </div>
            </div>
        </div>

    </header>










    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>
