h1 {
    text-align: center;
    color: rgb(4, 4, 116);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

header {
    background-color: rgb(255, 254, 254);
}

body {
    background-image: url(https://mystat.itstep.org/assets/images/laptop.jpg?v=c1d0aacb6224f55344a731d2de109104);
    opacity: 0.9;
}

section {
    margin-top: 20%;
}

.col-md-5 {
    margin-left: auto;
    margin-right: auto;
}

.btn,
.form-control {
    border-radius: 20px;

}

.col-md-5 {
    border: 2px white double;
    border-radius: 10px;
    padding-top: 20px;
    background-color: rgb(207, 214, 219);
}

p {
    text-align: center;
}
@keyframes pula {

    0%,
    20%,
    60%,
    100% {

        -webkit-transform: translateY(0px);
        transform: translateY(0px);

    }

    40% {

        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

}

.btn:hover {

    animation-name: pula;
    animation-duration: 1s;
}
